body {
  font-family: 'Blinker';
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header.nav-header {
  /* background: #000; */
  position: absolute;
  top: 0;
  width: 100%;
}

ul.list-menu a {
  color: #fff;
  text-decoration: none;
}

.inner-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  gap: 50px;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

ul.list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.logo {
  height: 100%;
  padding: 10px 10px 10px 0;
}


.logo h1 {
  margin: 0;
  height: 100%;
}

.logo a {
  height: 100%;
  display: block;
}

.logo img {
  object-fit: cover;
  height: 100%;
}

a:focus,
a:hover,
a{
  color:#fff;
  text-decoration:none;
}
section.hero-container {
  height: 70vh;
  display: flex;
  width: 100%;
  background: url(https://s.leadgods.com/application-web/jk-one/dist/img/bg-slider.jpg?v1.834) no-repeat;
  background-size: cover;
}

.hero-contain {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;
  gap: 80px;
  align-items: flex-start;
  justify-content: end;
  margin-bottom: 60px;
}

ul.redes-social-container {
  display: flex;
  gap: 20px;
  font-size: 21px;
}

.hero-redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text {
  font-size: 55px;
  width: 830px;
}

.hero-number {
  background: red;
  display: inline-block;
  position: relative;
}

.hero-number span {
  position: absolute;
  font-size: 22px;
  font-weight: normal;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%,0%);
}