body {
  font-family: 'Blinker';
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header.nav-header {
  /* background: #000; */
  position: absolute;
  top: 0;
  width: 100%;
}

ul.list-menu a {
  color: #fff;
  text-decoration: none;
}

.inner-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  gap: 50px;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

ul.list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.logo {
  height: 100%;
  padding: 10px 10px 10px 0;
}


.logo h1 {
  margin: 0;
  height: 100%;
}

.logo a {
  height: 100%;
  display: block;
}

.logo img {
  object-fit: cover;
  height: 100%;
}

a:focus,
a:hover,
a{
  color:#fff;
  text-decoration:none;
}
section.hero-container {
  height: 63vh;
  display: flex;
  width: 100%;
  background: url(https://s.leadgods.com/application-web/jk-one/dist/img/bg-slider.jpg?v1.834) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-contain {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;
  gap: 80px;
  align-items: flex-start;
  justify-content: end;
  margin-bottom: 60PX;
}

ul.redes-social-container {
  display: flex;
  gap: 20px;
  font-size: 21px;
}

.hero-redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text {
  font-size: 50px;
  width: 740px;
}

.hero-number {
  background: red;
  display: inline-block;
  position: relative;
}

.hero-number span {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%,0%);
}

.redes-social-container a{
  position: relative;
  padding-left: 38px;
  FONT-SIZE: 18PX;
}
.redes-social-container a i{
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
}

a.h-fb i {
  background: url(https://s.leadgods.com/application-web/jk-one/dist/img/ico-fb.png) no-repeat;
  background-size: 100% 100%;
}
a.h-it i {
  background: url(https://s.leadgods.com/application-web/jk-one/dist/img/ico-it.png) no-repeat;
  background-size: 100% 100%;
}
a.h-yt i {
  background: url(	https://s.leadgods.com/application-web/jk-one/dist/img/ico-yt.png) no-repeat;
  background-size: 100% 100%;
}
a.h-tw i {
  background: url(	https://s.leadgods.com/application-web/jk-one/dist/img/ico-tw.png) no-repeat;
  background-size: 100% 100%;
}
a.h-lk i {
  background: url(https://s.leadgods.com/application-web/jk-one/dist/img/ico-lk.png) no-repeat;
  background-size: 100% 100%;
}
.contain-testimonio {
  gap: 30px;
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section.testimonios-container {
  background: #000;
  color: #fff;
}

.title-top-section {
  font-size: 30px;
}

.container-testimonio-video {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.container-testimonio-video a {
  position: relative;
  /* aspect-ratio: 16/9; */
  border-radius: 20px;
  overflow: hidden;
  /* height: 200px; */
  width: 330px;
  display: block;
}
.container-testimonio-video::-webkit-scrollbar {
  display: none;
}
.container-testimonio-video a:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="26" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M26.17 12.37 9 2.45A3.23 3.23 0 0 0 7.38 2 3.38 3.38 0 0 0 4 5.38v21.29a3.33 3.33 0 0 0 5.1 2.82l17.19-10.86a3.65 3.65 0 0 0-.12-6.26z" data-name="01-Play" fill="%23FFFFFF" opacity="1" data-original="%23000000"></path></g></svg>');
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-position-testimonio-video {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}

.container-testimonio-video a img {
  filter: brightness(0.5);
  height: 100%;
  object-fit: cover;
  width: 100%;
}