:root {
  --color-primary-lt: #660789;
  --font-family-lt: 'Flexo';
}
body {
  font-family: var(--font-family-lt);
  height: 100vh;
}
input{
  font-family: var(--font-family-lt);
}

.container-principal-lt{
  display:flex;
}
.container-flex-lt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.container-form-lt {
  width: 30%;
}
.container-data-lt {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-list-data-lt{
  display: flex;
  gap: 10px;
}
.container-title-lt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-hg {
  color: var(--color-primary-lt);
  margin: 0;
}
.subtitle-hg {
  color: var(--color-primary-lt);
  font-size: 18px;
  margin: 0;
} 
.container-input-form {
  border: 1px solid #660789;
  display: flex;
  max-width: 240px;
  border-radius: 7px;
  overflow: hidden;
  margin: 10px 0;
}
.label-dni-input {
  padding: 10px 20px;
  border-right: 1px solid #660789;
  font-size: 16px;
  font-weight: 600;
}
.container-input-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-family: 'Flexo';
}
.remember-wrapper-lt {
  background-color: #fffded;
  width: 288px;
  height: 58px;
  display: flex;
  margin-bottom: 32px;
  border-radius: 8px;
}
.remember-wrapper-lt div {
  padding: 8px;
  display: flex;
  align-items: center;
}
.remember-wrapper-lt p {
  color: #202e44;
  font-size: 12px;
  font-weight: normal;
  padding: 11px 0;
  margin: 0;
  margin-right: 12px;
}
.ruleta-content-privacy {
  max-width: 485px;
  color: #868f9e;
  line-height: 16px;
  font-size: 13px;
}
.ruleta-content-privacy a {
  color: #868f9e;
  font-size: 13px;
  font-weight: 600;
}
.btn-form-lt{

}
.img-ruleta-lt img {
  max-width: 430px;
}