:root {
  --color-primary-lt: #660789;
  --font-family-lt: 'Flexo';
}
body {
  font-family: var(--font-family-lt);
  height: 100vh;
}
input{
  font-family: var(--font-family-lt);
}

.container-principal-lt{
  display:flex;
}
.container-flex-lt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.container-form-lt {
  width: 30%;
}
.container-data-lt {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.container-title-lt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-hg {
  color: var(--color-primary-lt);
  margin: 0;
}
.subtitle-hg {
  color: var(--color-primary-lt);
  font-size: 18px;
  margin: 0;
} 
.container-dni-input-btn {
  border: 1px solid #660789;
  display: flex;
  max-width: 240px;
  border-radius: 7px;
  overflow: hidden;
  margin: 10px 0;
}
.label-dni-input {
  padding: 10px 20px;
  border-right: 1px solid #660789;
  font-size: 16px;
  font-weight: 600;
}
.elem-dni-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-family: 'Flexo';
}