:root {
  --color-primary-lt: #660789;
  --color-orange-lt: #ff8700;;
  --color-gray-lt: #c0c0c0;
  --font-family-lt: 'Flexo';
}
container-list-data-lt::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

container-list-data-lt::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

container-list-data-lt::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  font-family: var(--font-family-lt);
  height: 100vh;
}
div{
  box-sizing: border-box;
}
input{
  font-family: var(--font-family-lt);
}

.container-principal-lt{
  display:flex;
}
.container-flex-lt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  flex-wrap: wrap;
}
.container-form-lt {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-data-lt {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.container-list-data-lt{
  display: flex;
  gap: 10px;
}
.container-title-lt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-hg {
  color: var(--color-primary-lt);
  margin: 0;
}
.subtitle-hg {
  color: var(--color-orange-lt);
  font-size: 18px;
  margin: 0;
} 
form#ltForm {
  width: 288px;
}
.container-input-form {
  border: 1px solid var(--color-gray-lt);
  display: flex;
  align-items: center;
  /* max-width: 240px; */
  border-radius: 7px;
  overflow: hidden;
  margin: 10px 0;
  height: 50px;
}
.container-input-form:hover {
  border: 1px solid var(--color-primary-lt);
}
.label-dni-input {
  padding: 0px 20px;
  border-right: 1px solid var(--color-gray-lt);
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-input-form:hover .label-dni-input {
  border-right: 1px solid var(--color-primary-lt);
}
.container-input-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-family: var(--font-family-lt);
}
.remember-wrapper-lt {
  background-color: #fffded;
  width: 288px;
  height: 58px;
  display: flex;
  margin-bottom: 32px;
  border-radius: 8px;
}
.remember-wrapper-lt div {
  padding: 8px;
  display: flex;
  align-items: center;
}
.remember-wrapper-lt p {
  color: #202e44;
  font-size: 12px;
  padding: 11px 0;
  margin: 0;
  margin-right: 12px;
  font-family: 'Flexo-Demi';
}
.ruleta-content-privacy {
  max-width: 485px;
  color: #868f9e;
  line-height: 16px;
  font-size: 13px;
}
.ruleta-content-privacy a {
  color: #868f9e;
  font-size: 13px;
  font-weight: 600;
}
.container-ruleta-lt:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 6px);
  background: rgb(255, 102, 0);
  background: linear-gradient(70deg, rgba(255, 102, 0, 1) 0%, rgba(255, 215, 0, 1) 35%, rgba(255, 102, 0, 1) 57%, rgba(255, 215, 0, 1) 82%);
  z-index: -1;
  border-radius: 50%;
}
button.btn-form-lt {
  padding: 8px 16px;
  background-color: var(--color-primary-lt);
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: var(--font-family-lt);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  width: 100%;
  width: 288px;
}
.container-ruleta-lt{
  position: relative;
}
.container-ruleta-lt .ruleta-hg-lt {
  max-width: 430px;
}
.puntero-hg-lt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  width: 55px;
  height: 80px;
  /* left: 173px; */
  /* bottom: 282px; */
}
.container-list-data-lt {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  margin: 20px 0;
  padding: 30px 0 10px 10px;
}
.container-elem-reserva-data-lt {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  border-radius: 10px;
  /* border: 1px solid #000; */
  aspect-ratio: 1;
  width: 210px;
  position: relative;
  background-image: url(https://bunny-wp-pullzone-thxr2eln2h.b-cdn.net/wp-content/uploads/2024/10/PORTADA-CAMPING-CUADRO-HG-EXITO-MINI.jpg);
  background-size: cover;
}
.container-data-elem-reserva-lt {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 10px;
  background: #000000b8;
  color: #fff;
  text-align: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 68%);
  border-radius: 10px;
  position: relative;
}
.container-data-elem-reserva-lt div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.data-elem-reserva-lt {
  font-family: 'Flexo-Demi';
  font-size: 13px;
}

.name-elem-reserva-lt {
  font-size: 14px;
  font-family: 'Flexo';
  font-weight: 600;
  text-align: center;
}
.dni-elem-reserva-lt.data-elem-reserva-lt {
  font-family: 'Flexo-Demi';
}
.regalo-elem-reserva-lt.data-elem-reserva-lt{
  font-family: 'Flexo-Demi';
  /* display: none; */
}
.fecha-elem-reserva-lt {
  font-size: 10px;
  color: #868f9e;
}

@media screen and (max-width:768px){
  .container-flex-lt {
    flex-direction: column;
  }
  .container-form-lt,
  .container-data-lt {
    width: 100%;
  }
  .container-list-data-lt{
    flex-direction: column;
  }
  button.btn-form-lt,
  form#ltForm{
    width: 100%;
  }
  .remember-wrapper-lt {
    width: 288px;
    margin: auto auto 12px;
  }

}